.App {
  text-align: center;
}

.Navbar-Style = {
  border: 10px solid blue;
  margin-bottom: 0px;
  width: 100%;
};

.Horizontal-Break-Style = {
  background-color: grey;
  margin: 0px;
  height: 20px;
};
