.mainText {
  text-align: justify;
  font-family: Arial;
  padding-right: 200px;
  padding-left:200px;
}

.mainText2 {
  text-align: justify;
  font-family: Arial;
  padding-right: 10px;
  padding-left:10px;
}

.pageHeader {
  text-align: Center;
  font-family: Arial;
  color: #005D8c;
  font-Weight: bold;
  font-variant: small-caps;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.titleMain {
  text-align: Center;
  font-family: Arial;
  color: #005D8c;
  font-Weight: bold;
  font-variant: small-caps;
}

.formStyle {
  text-align: center;
}

.navLogo {
  margin-left:0px;
  margin-right:0px;
  margin-bottom:5px;
  margin-top: 6px;
  padding-top: 0px;
  padding-bottom:0px;
  padding-left:10px;
  padding-right:10px;
  float: left;
}

.navBar{
  color: #005D8c; 
  font-family: Arial;
  margin-top:7.5px;
  margin-bottom: 7.5px;
  margin-left:0px;
  margin-right:0px;
  padding-top: 15px;
  padding-bottom:15px;
  padding-left:10px;
  padding-right:10px;
  text-align:center;
  font-Weight: bold;
  font-variant: small-caps;
  float: right;
  border-radius:20px;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #005D8c;
  color: white;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  font-variant: small-caps;
  padding: 8px;
}
