html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.TopLevelContainer {
  height: 100%;
}

.Centered {
  text-align: center;
  margin: 0 auto;
}

.MaxWidth {
  max-width: 700px;
}

.mainText {
  text-align: justify;
  font-family: Arial;
  padding-right: 200px;
  padding-left:200px;
}

.mainText2 {
  text-align: justify;
  font-family: Arial;
  padding-right: 10px;
  padding-left:10px;
}


.Modo {
  text-align: center;
  font-family: Arial;
  font-variant: small-caps;
  font-weight: bold;
  color: #005D8c;
}


.PageHeader {
  text-align: Center;
  font-family: Arial;
  color: #005D8c;
  font-Weight: bold;
  font-variant: small-caps;
}

.Underline {
  border: 1px solid grey;
  margin-left: 150px;
  margin-right: 150px;
}

/* Home screen underline is wider */
.HomeUnderline {
  border: 1px solid grey;
  margin-left: 50px;
  margin-right: 50px;
}

.Underline2 {
  border: 1px solid grey;
  margin-left: 10px;
  margin-right: 10px;
}

.SmallImg {
  max-width: 35%;
  height: 35%;
  margin-top: 75px;
  margin-right: 100px;
}

.MediumImg {
  max-width: 75%;
  height: 75%;
  position: center;
  margin: auto;
  margin-top: 25px;
  display: block;
}

.LargeImg {
  width: 95%;
  height: 95%;
  position: center;
  margin: auto;
  margin-top: 25px;
  display: block;
}

.FullScreenImg {
  max-width: 100%;
  height: auto;
  margin: 0px;
}

.SideText {
  text-align: justify;
  font-family: Arial;
  padding-right: 50px;
  padding-left: 100px;
  padding-top: 10px;
}

.SideText2 {
  text-align: justify;
  font-family: Arial;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.SideText3 {
  text-align: justify;
  font-family: Arial;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 10px;
}

.PageBorder {
  clear: both;
  border-left: 10vw solid #b4c7e7;
  border-right: 10vw solid #b4c7e7;
  border-top: 0px solid #005D8c;
  border-bottom: 0px solid #005D8c;
  padding-top: 5px;
  padding-bottom: 100px;
  margin-top: 0px;

  height: calc(100% - 75px); /* uh, stretching the page border to at least the bottom is a major pain */
}

.PageBorder2 {
  clear: both;
  border-left: 5vw solid #b4c7e7;
  border-right: 5vw solid #b4c7e7;
  border-top: 0px solid #005D8c;
  border-bottom: 0px solid #005D8c;
  padding-top: 5px;
  padding-bottom: 100px;
  margin-top: 0px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.titleMain {
  text-align: Center;
  font-family: Arial;
  color: #005D8c;
  font-Weight: bold;
  font-variant: small-caps;
}

.FormStyle {
  text-align: center;
}

.NavLogo {
  margin-left:0px;
  margin-right:0px;
  margin-bottom:5px;
  margin-top: 6px;
  padding-top: 0px;
  padding-bottom:0px;
  padding-left:10px;
  padding-right:10px;
  float: left;
}

.Footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #005D8c;
  color: white;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  font-variant: small-caps;
  padding: 8px;
}

.ErrorMessage {
  color: red;
}
