.Availability-button {
  background-color: red;
  text-align: Center;
}

.BigScreenNavigationTable {
  float: left;
}

.SmallScreenNavigationTable {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.BigScreenNavigationDatePicker {
  float: right;
}

.SmallScreenNavigationDatePicker {
  margin-bottom: 10px;

  /* center content */
  display: flex;
  align-items: center;
  justify-content: center;
}

.CalendarTable {
  width: 100%;
}

.CalendarDayHeader {
  text-align: center;
  width: 14.28574%; /* 1/7 */
  border: solid black;
  border-width: 2px 2px 2px 0;
}

.CalendarDayBody {
  border: solid black 2px;
}
