
.ProfileTable {
  margin-left: auto;
  margin-right: auto;
}

table.ProfileTable td {
  margin-top: 5px;
  vertical-align: top;
}

table.ProfileTable label {
  margin-bottom: 0px;
  margin-top: 3px;
}

table.ProfileTable button {
  width: 100%;
}

table.ProfileTable div, table.ProfileTable input {
  width: 200px;
}

.ExpandableTextarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;

  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}
