
.Centered {
  text-align: center;
  margin: 0 auto;
}

.MaxWidth {
  max-width: 700px;
}

.FillScreen {
  width: 100%;
  justify-content: center;
}

.HelperLink {
  margin-left: 2px;
  margin-right: 2px;
  list-style-type: none;
}

.UnderLine {
  border: 1px solid grey;
}

.PageBorder {
  border-left: 10vw solid #b4c7e7;
  border-right: 10vw solid #b4c7e7;
  border-top: 0px solid #005D8c;
  border-bottom: 0px solid #005D8c;
  padding-top: 5px;
  padding-bottom: 100px;
  margin-top: 0px;
}
