
.Centered {
  text-align: center;
  margin: 0 auto;
}

.MaxWidth {
  max-width: 700px;
}

.HelperContainer {
  display: flex;
  justify-content: center;
}

.HelperList {
  display: inline;
}

.HelperLink {
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
  list-style-type: none;
}

.HelperSeparator {
  display: inline;
}

form.AuthForm input {
  width: 160px;
}
