
.HelperContainer {
  display: flex;
  justify-content: center;
}

.HelperList {
  display: inline;
}

.HelperLink {
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
  list-style-type: none;
}

.HelperSeparator {
  display: inline;
}

/* apply to all inputs to forms with class AuthForm */
/* cause "Confirm New Password" is too damn long! */
form.AuthForm input {
  width: 160px;
}
